

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: skyblue;
  font-family: sans-serif;
  overflow: hidden;
}
canvas {
  background: #70c5ce;
  display: block;
  margin: 0 auto;
}
